<div class="header">
  <p>
    Logo
  </p>
  <ul>
    <li>Posts</li>
    <li>Admin</li>
    <li>{{#link-to 'contact'}}Contact Us{{/link-to}}</li>
    <li>{{#link-to 'about'}}About Us{{/link-to}}</li>
  </ul>
</div>
