<div class="header">
  <p>
    {{#link-to 'index'}}Logo{{/link-to}}
  </p>
  <ul>
    <li>{{#link-to 'admin'}}Admin{{/link-to}}</li>
    <li>{{#link-to 'contact'}}Contact Us{{/link-to}}</li>
    <li>{{#link-to 'about'}}About Us{{/link-to}}</li>
  </ul>
</div>
