.header p {
  border-bottom-right-radius: 10px;
  box-shadow: 5px 5px 3px gray;
  display: inline-block;
  padding:20px;
}

.header {
  margin:-7px;
  margin-top:-23px;
}

.header ul {
  list-style: none;
  display: inline-block;
  float:right;
}
.header ul li {
  display: inline-block;
  margin-right:10px;
}
.header ul li a {
  display: inline-block;
  padding:20px;
  border-bottom: 1px solid lightgray;
  border-radius:20px;
  box-shadow:1px 3px 10px gray;
}

form {
    width: 70%;
    margin:2em auto;
}

input, textarea {
  width: 69%;
}

label {
  width: 29%;
}

label, input, textarea {
  display: inline-block;
  margin:1% 0;
  border-radius: 4px;
}

[type=submit] {
  width: 100%;
}

.button, button {
  color: black;
  display: inline-block;
  text-decoration: none;
  border: solid 2px;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 5px 5px 3px lightgrey;
  background: white;
  margin:5px;
  font-size:1em;
}

.unstyled {
  list-style: none;
}

h1 {
  text-align: center;
}

.blog-tile {
  display: inline-block;
  padding:20px;
  margin:10px;
  background: rgba(150,150,150,.2);
}
