.header p {
  border-bottom-right-radius: 10px;
  box-shadow: 5px 5px 3px gray;
  display: inline-block;
  padding:20px;
}

.header {
  margin:-7px;
  margin-top:-23px;
}

.header ul {
  list-style: none;
  display: inline-block;
  float:right;
}
.header ul li {
  display: inline-block;
  margin-right:10px;
}
.header ul li a {
  display: inline-block;
  padding:20px;
  border-bottom: 1px solid lightgray;
  border-radius:20px;
  box-shadow:1px 3px 10px gray;
}
